.head {
  display: flex;
  flex-direction: row;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  

}

.left-section {
  display: flex;
  flex-direction: row;
  width: 150px;
}
.menu-icon {
  height: 24px;
  margin: 0px 12px;
  align-items: center;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  box-shadow: inset 2px;
  display: flex;
  align-items: center;
}
.search-bar {
  height: 40px;
  flex: 1;
}
.search-bar::placeholder {
  padding-left: 8px;
  font-size: 14px;
}
.search-icon {
  padding-left: 10px;
  height: 40px;
  border-radius: 3px;
  border-color: #f7f7f7;
  background-color: #f7f7f7;
  align-self: center;
  padding: 6px;
}

.voice-search-icon {
  height: 40px;
}
.right-section {
  width: 250px;
  display: flex;
  flex-direction: row;
}
.upload-icon {
  height: 40px;
  padding-right: 12px;
}
.apps-icon {
  height: 40px;
  padding-right: 12px;
}
.notifi-icon {
  height: 40px;
  padding-right: 12px;
}
.my-channel-icon {
  height: 40px;
  padding-right: 12px;
}
